{% macro header() -%}
<div class="ion-page" id = "main-content">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-buttons id="toolbar-menu-button" >
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title slot="end">
                ATInet
            </ion-title>
            <ion-buttons id="toolbar-buttons" slot="end">

                <ion-button >
                    <p>Inicio</p>
                </ion-button>
                <ion-button >
                    <p>Sobre nosotros</p>
                </ion-button>
                <ion-button >
                    <p>condiciones generales</p>
                </ion-button>
                <ion-button class="login-button" href="login.html">
                    Iniciar sesión
                </ion-button>
                <ion-button class="login-button" href="signUp.html">
                    Registrarse
                </ion-button>

            </ion-buttons>
        </ion-toolbar>
    </ion-header>

{%- endmacro %}

{% macro loged() -%}

<ion-header>
    <ion-toolbar color="dark">

        <ion-buttons slot="start" id="toolbar-menu-button" >
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-item color="dark" slot="start">
            <ion-searchbar placeholder="Buscar" slot="start" animated="true"></ion-searchbar>
        </ion-item>

        <ion-buttons id="toolbar-buttons" slot="end">
            <ion-button >
                <p>Inicio</p>
            </ion-button>
            <ion-button >
                <p>Sobre nosotros</p>
            </ion-button>
            <ion-button >
                <p>Notificaciones</p>
            </ion-button>
            <ion-button >
                <p>Configuracion</p>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

{%- endmacro %}