{% macro header(text,loged=False) -%}
<div class="ion-page" id = "main-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start" id="toolbar-menu-button" >
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            {% if loged %}
            <ion-title slot="start" style="margin-left: 10px; font-size: 27pt; width: 30%;">
                ATInet
            </ion-title>
 
            <ion-toolbar color="primary" slot="end">
                <ion-searchbar style="--border-radius: 20px; width: 200px;" placeholder="Buscar" slot="end" animated="true"></ion-searchbar>
            </ion-toolbar>

            {% else %}
            <ion-title slot="start" style="margin-left: 10px; font-size: 27pt; width: 30%;">
                ATInet
            </ion-title>
            {% endif %}
            <ion-buttons id="toolbar-buttons" slot="end">
                
                <!--
                {% if loged %}
                <ion-button href="muro">
                    <p>{{text['test']}}</p>
                </ion-button>
                {% else %}
                <ion-button href="/">
                    <p>{{text['home']}}</p>
                </ion-button>
                {% endif %}
                -->
                
                <ion-button href="/">
                    <p>{{text['home']}}</p>
                </ion-button>
                {% if not loged %}
                <ion-button href="/aboutus">
                    <p>{{text['aboutus']}}</p>
                </ion-button>
                <ion-button >
                    <p>{{text['terms']}}</p>
                </ion-button>
                <ion-button class="login-button" href="login">
                    {{text['login']}}
                </ion-button>
                <ion-button class="login-button" href="signup">
                    {{text['signup']}}
                </ion-button>
                {% else %}
                <!--
                <ion-button href="/muro">
                    <p>{{text['feed']}}</p>
                </ion-button>
                -->
                <ion-button href="/perfil">
                    <p>{{text['profile']}}</p>
                </ion-button>
                <ion-button href="/notifications">
                    <p>{{text['notifications']}}</p>
                </ion-button>
                <ion-button href="/config">
                    <p>{{text['configuration']}}</p>
                </ion-button>
                <ion-button class="login-button" href="/logout">
                    {{text['logout']}}
                </ion-button>

                {% endif %}
    

            </ion-buttons>
        </ion-toolbar>
    </ion-header>

{%- endmacro %}
