{% macro header(text,loged=False) -%}
<div class="ion-page" id = "main-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start" id="toolbar-menu-button" >
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            {% if loged %}
            <ion-item color="primary" slot="start">
                <ion-searchbar placeholder="Buscar" slot="start" animated="true"></ion-searchbar>
            </ion-item>
            {% else %}
            <ion-title slot="end">
                ATInet
            </ion-title>
            {% endif %}
            <ion-buttons id="toolbar-buttons" slot="end">
                
                <!--
                {% if loged %}
                <ion-button href="muro">
                    <p>{{text['test']}}</p>
                </ion-button>
                {% else %}
                <ion-button href="/">
                    <p>{{text['home']}}</p>
                </ion-button>
                {% endif %}
                -->
                
                <ion-button href="/">
                    <p>{{text['home']}}</p>
                </ion-button>
                {% if not loged %}
                <ion-button href="/aboutus">
                    <p>{{text['aboutus']}}</p>
                </ion-button>
                <ion-button >
                    <p>{{text['terms']}}</p>
                </ion-button>
                <ion-button class="login-button" href="login">
                    {{text['login']}}
                </ion-button>
                <ion-button class="login-button" href="signup">
                    {{text['signup']}}
                </ion-button>
                {% else %}
                <!--
                <ion-button href="/muro">
                    <p>{{text['feed']}}</p>
                </ion-button>
                -->
                <ion-button href="/perfil">
                    <p>{{text['profile']}}</p>
                </ion-button>
                <ion-button href="/notifications">
                    <p>{{text['notifications']}}</p>
                </ion-button>
                <ion-button href="/config">
                    <p>{{text['configuration']}}</p>
                </ion-button>
                <ion-button class="login-button" href="/logout">
                    {{text['logout']}}
                </ion-button>

                {% endif %}
    

            </ion-buttons>
        </ion-toolbar>
    </ion-header>

{%- endmacro %}
