<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% macro main() -%}
    <div class="menu">
        <ion-menu type="overlay" content-id="main-content">
            <ion-header>
                <ion-toolbar>
                <ion-title>Menu Content</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">This is the menu content.</ion-content>
          </ion-menu>
    </div>
    {%- endmacro %}
</body>
</html>