<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% macro main(text) -%}
    <div class="menu">
        <ion-menu type="overlay" content-id="main-content">
            <ion-header>
                <ion-toolbar color="primary">
                <ion-title>Menú</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" color="primary">
                <ion-list color="primary" style="padding: 0">
                    <ion-menu-toggle color="primary">
                        <ion-item color="primary">
                            <ion-label href="/">
                                {{ text['home'] }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item href="/notifications" color="primary">
                            <ion-label>
                                {{ text['notifications'] }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item href="/config" color="primary">
                            <ion-label>
                                {{ text['configuration'] }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item href="/logout" color="primary">
                            <ion-label>
                                {{ text['logout'] }}
                            </ion-label>
                        </ion-item>  
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
          </ion-menu>
    </div>
    {%- endmacro %}
</body>
</html>