{% macro publicacion(userProfilePhoto,userDisplayName,content,media,userid,comments,users,postid) -%}

<ion-card id="publicacion">
    <ion-card-header>
        <ion-item lines="none" href="{{'/perfil/' + userid }}">
            <ion-avatar slot="start" >
            <img alt="Silhouette of a person's head" src="{{ userProfilePhoto }}" />
            </ion-avatar>
            <ion-card-title>{{userDisplayName}}</ion-card-title>
            <h1></h1>
        </ion-item>
    </ion-card-header>
  
    <ion-card-content>
        <p>{{content}}</p>
        {% if media %}
            <img class="media" alt="Silhouette of a person's head" src="{{media}}"/>
        {% endif %}
        <ion-list>
                {% for comment in comments %}
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-img src="{{ 'https://d34pkca7tf0sls.cloudfront.net/images/' + users[comment['uid']]['icon'] }}"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{users[comment['uid']]['name'] + ' ' + users[comment['uid']]['lastname'] }}</h2>
                        <h3>{{comment['content']}}</h3>
                    </ion-label>
                </ion-item>
                {% endfor %}
            </ion-list>
        <ion-item class="C{{postid}}">
            <ion-input class="comment-input"></ion-input>
            <ion-button  fill="outline">
                <ion-icon slot="icon-only" class="send-icon" color="primary" name="send"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <script>
    
    document.querySelector('.C{{postid}}').querySelector('ion-button').addEventListener('click',() => {
        const item = document.querySelector('.C{{postid}}')
        const input = item.querySelector('ion-input')
        const sendIcon = item.querySelector('ion-button')
        console.log('click')

        content = input.value
        if(!content){
            return
        }
        sendIcon.setAttribute('disabled','true')
        // sendIcon.style.visibility = 'hidden'
        // sendIcon.style.display = 'none'
        // item.style.display = 'none'
        // return
        o = {content:content,postid:'{{postid}}'}
        console.log(o)
        fetch('/comment',{
            method: 'POST',
            body: JSON.stringify(o),
            headers: {
            "Content-Type": "application/json"
            }
        }).then(response => {
            if(!response.ok){
                throw new Error('F')
            }
            return response.json()
        }).then(response => {
            console.log(response)
            window.location = window.location
        } ).catch(err => {
            console.log(err)
        })
    })
  </script>

{%- endmacro %}
