:root{
    --ion-color-primary: #2D82B7;
}

.login-button{
    background-color: #3c4048;
    border-radius: 5px;
    color: white;
}

img {
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 20px 20px 5px #999;
}

h1 {
    margin-left: 50px;
}

h3 {
    margin-top: 60px;
}

.about-us {
    font-size: 15pt;
}

@media screen and (min-width: 1283px) {

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 45px;
    }
    
}

@media screen and (max-width: 1283px) and (min-width: 1170px) {

    h1 {
        font-size: 35px;
        font-weight: bold;
        margin-top: 45px;
    }
    
}

@media screen and (max-width: 1170px) and (min-width: 1077px) {

    h1 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 45px;
    }
    
}

@media screen and (max-width: 1077px) and (min-width: 762px) {

    h1 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 45px;
    }
    
}

@media screen and (max-width: 762px) {

    h1 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 45px;
    }
    
}