#perfil {
    min-height: 130px; 
    min-width: 130px; 
}
.container-portada{
    width: 100%;
    display: flex;
    align-items: center;

}
.portada {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 3px;

}

.profile-item{
    z-index: 2;
    background: transparent;
    position: absolute;
    top: 50%;
}
.username{
    color: #000000;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255,255,255,1);
}

ion-card {
    --ion-background-color: #ffffff;
    --color: #000000;
}

ion-card-content {
    --height: 100px;
    --width: 100px;
}

.media {
    margin-top: 25px;
}