#perfil {
    min-height: 130px; 
    min-width: 130px; 
}
.container-portada{
    width: 100%;
    display: flex;
    align-items: center;

}
.portada {
    width: 30px;
    height: 30px    ;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    object-fit: cover;

}


ion-card {
    --ion-background-color: #ffffff;
    --color: #000000;
    
    
}

ion-card-content {
    --height: 100px;
    --width: 100px;
}

.media {
    margin-top: 25px;
}