:root {
	--ion-background-color: #eee;
    --ion-color-primary: #2D82B7;
    --ion-color-secondary: #3c4048;
}

p {
    text-align: center;
}

ion-col {
    top: 50px;
}

ion-card {
    --ion-background-color: #fff;
}

.login-button{
    background-color: var(--ion-color-secondary);
    border-radius: 5px;
    color: white;
}

.center-button {
    width: 180px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#cambiarContrasena{
    text-align: center;
    margin: 25px;
}

ion-avatar {
    height: 60px; 
    width: 60px; 
}

#comment {
    padding: 5px;
}

#border-comment:not(:last-child){
    border-bottom: 0.1px solid #d9d9d9;
    margin-left: 20px;
    margin-right: 20px;

}

#comentario {
    width: 80%;
    overflow: auto;
}

@media screen and (min-width: 992px) {

    #comentario, #publicacion {
        height: 750px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #comentario, #publicacion {
        height: 500px;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    #comentario, #publicacion {
        height: 500px;
        width: 100%;
    }
    
}

@media screen and (max-width: 576px) {

    #comentario {
        width: 100%;
    }
    
}