<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text['home'] }}</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='aboutus.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='toolbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">

</head>
<body>
    <ion-app>
        {% import './macros/toolbar.html' as toolbar %}
        {{toolbar.toolbar(text)}}
        {% import './macros/footer.html' as footer %}
        {{footer.footer(text)}}
        <ion-content class="background">
            <ion-grid>
                <ion-row>
                    <ion-col offset-xs="0" size-xs="12" offset-md="1" size-md="5">
                        <h1>ATINet es un proyecto desarrollado en 2022 por un grupo de estudiantes de la Universidad Central de Venezuela (UCV). Es un sitio web que promete crear una conexión estable, síncrono-remota entre amigos y familiares.</h1>
                    </ion-col>
                    <ion-col offset-xs="1" size-xs="12" size-md="5">
                        <img alt="Personas conectadas a ATInet" src="{{url_for('static', filename='images/red-social.jpg')}}" style="margin-left: 60px;">
                        </img>   
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col offset-xs="0" size-xs="12" offset-md="1" size-md="5">
                        <img alt="Personas conectadas a ATInet" src="{{url_for('static', filename='images/aboutus.jpg')}}">
                        </img>   
                    </ion-col>
                    <ion-col offset-xs="0" size-xs="12" offset-md="0.5" size-md="5">
                        <h3><b>¡Más sobre nosotros!</b></h3>
                        <p class="about-us">&#160&#160&#160 ATINet te permitirá comunicarte con tus amigos, familiares y con cada persona que desees, podrás compartir tus experiencias mediante fotografías, videos y textos, al igual que poder formar parte de las experiencias de los demás y poder interactuar con ellos mediante las publicaciones de los usuarios o una comunicación privada mediante el chat personal con cada usuario.</p> 

                        <p class="about-us">&#160&#160&#160 Nuestro equipo de desarrollo se siente complacido al ver que nos has escogido como la red social para comunicarte, esperamos que sea de tu agrado y que nos acompañemos mutuamente en el desarrollo, avance y evolución del mismo. Buscaremos ir mejorando con el tiempo para adaptarnos a las nuevas tecnologías pero siempre con un diseño cómodo y agradable para ti.</p>
                            
                        <h4>¡Que te diviertas!</h4>
                    </ion-col>
                   
                </ion-row>
            </ion-grid>
        </ion-content>
    </div>
    </ion-app>
</body>
</html>