<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text['config'] }}</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <ion-app>
        {% import './macros/toolbar.html' as toolbar %}
        {{toolbar.toolbar(loged=True,text=text)}}
        {% import './macros/footer.html' as footer %}
        {{footer.footer(text)}}
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col size-xs="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>
                                    <p>{{ text['configuration'].capitalize() }}</p>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['edit'] + ' ' + text['name'].lower() }}
                                        <ion-icon name="person-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input value="" type="text"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['edit'] + ' ' + text['lastname'].lower() }}
                                        <ion-icon name="person-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input value="" type="text"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['edit'] + ' ' + text['email'].lower() }}
                                        <ion-icon name="mail-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input value="" type="email"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['language']}}
                                        <ion-icon name="globe-outline"></ion-icon>
                                    </ion-label>
                                    <ion-select id="selectLanguage" placeholder="Español" value="{{lang}}">
                                        <ion-select placeholder="Idioma" multiple="false">
                                            <ion-select-option value="es">Español</ion-select-option>
                                            <ion-select-option value="en">English</ion-select-option>
                                        </ion-select>
                                    </ion-select>
                                </ion-item>

                                <!--
                                <ion-item href="/manage" detail="true">
                                        {{text['blocked']}}
                                </ion-item>

                                <ion-item href="/manage" detail="true">
                                        {{text['mngnotifications'].capitalize()}}
                                </ion-item>
                                -->
                                
                                <ion-item href="/manage" detail="true">
                                    
                                        {{ text['manageusers'] }}
                                    
                                </ion-item>
                                

                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </ion-app>
</body>
<script src="{{ url_for('static', filename='scripts/config.js') }}"></script>
</html>