<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='toolbar.css')}}">

</head>
<body>
    <ion-app>
        {% import './macros/toolbar.html' as toolbar %}
        {{toolbar.toolbar()}}
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col offset-xs="0" size-xs="12" offset-md="1" size-md="4">
                        <ion-img src="{{url_for('static', filename='images/home.jpg')}}">

                        </ion-img>   
                    </ion-col>
                    <ion-col offset-xs="0" size-xs="12" offset-md=2 size-md="5">
                        <h1>Bienvenido al sitio donde podras comunicarte y disfrutar con tus amigos y familiares</h1>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </div>
    </ion-app>
</body>
</html>