<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text['login'] }}</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=1140211683301532&autoLogAppEvents=1" nonce="7Bcliten"></script>

    <ion-app>
        {% import './macros/toolbar.html' as toolbar %}
        {{toolbar.toolbar(loged=False,text=text)}}
        {% import './macros/footer.html' as footer %}
        {{footer.footer(text)}}
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col size-xs="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>
                                    <p>{{text['login']}}</p>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['email']}}
                                        <ion-icon name="mail-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input id="emailInput" type="email"></ion-input>
                                    <ion-note slot="error">{{text['invalidemail']}}</ion-note>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['password']}}
                                        <ion-icon name="key-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input id="passwordInput" type="password">
                                    </ion-input>

                                    <ion-button
                                    slot="end"
                                    fill="clear"
                                    class="ion-no-margin"
                                    id="buttonShowPassword"
                                    onClick="togglePassword()"
                                    >
                                    <ion-icon id="iconShowPassword" slot="icon-only" color="medium" name="eye-outline"></ion-icon>
                                    </ion-button>
                  
                                    <ion-note slot="error">{{text['passwordshort']}}</ion-note>

                                </ion-item>
                                <ion-button name="login-button" onclick="login()" class="center-button" color="primary">
                                    {{text['login']}}
                                    <ion-icon slot="start" name="log-in-outline"></ion-icon>
                                </ion-button>

                                <ion-item onclick="changePasswordClick()" hoverEffect=false lines="full" button class="item-change-password">
                                    <ion-label id="cambiarContrasena">{{text['forgotpassword']}}</ion-label>
                                </ion-item>

                                <ion-button class="center-button" color="primary" href="signup">
                                    {{text['signup']}}
                                    <ion-icon slot="start" name="log-in-outline"></ion-icon>
                                </ion-button>

                                <ion-button>
                                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
            
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </ion-app>

</body>

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1140211683301532',
        cookie     : true,
        xfbml      : true,
        version    : 'v15.0'
      });
        
      FB.AppEvents.logPageView();   
      FB.getLoginStatus(function(response) {
        console.log(response)
        statusChangeCallback(response);
        
    });

    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</html>