<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atinet</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />

</head>
<body>
    <ion-app>
        <ion-content>
            <ion-card>
                <ion-card-header>
                    <ion-title>
                        necesitas estar logeado
                    </ion-title>
                </ion-card-header>
            </ion-card>
        </ion-content>
    </ion-app>
    <script>
        document.cookie = 'token=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'uid=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        var myVar=setInterval(function () {myTimer()}, 3000);
        function myTimer() {
            window.location="/login"
        }

    </script>
</body>
</html>