<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text['profile'] }}</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
</head>
<body>
    <ion-app>
        {% import './macros/toolbar.html' as toolbar %}
        {{toolbar.toolbar(loged=True,text=text)}}
        {% import './macros/footer.html' as footer %}
        {{footer.footer(text)}}
        <ion-content padding="false">
            <ion-grid>
                <ion-row>
                    <ion-col style="top: 0px;" id="profile-container" size-xs="12" size-md="8" offset-md="2">
                        <div class="container-portada">
                            <img class="portada" src="{{ profile['cover'] if profile.get('cover') else url_for('static',filename='images/default/profile_cover.jpg') }}" alt="portada">            
                            <div class="profile-item">
                                <ion-item color="none" lines="none">
                                    <ion-avatar id="perfil" slot="start">
                                    <img alt="Silhouette of a person's head" src="{{profile.get('icon') if profile.get('icon') else url_for('static',filename='images/default/profile_icon.png') }}" />
                                    </ion-avatar>
                                    <ion-text>
                                        <h1 class="username" >{{user['name'] + ' ' + user['lastname']}}</h1>
                                    </ion-text>
                                </ion-item>
    
                            </div>
    
                        </div>
                
                    </ion-col>
                </ion-row>

            <div id="fila">
                <ion-row >
                    <ion-col size-xs="12" size-sm="6" size-md="5" offset-sm="" offset-md="1.5">
                        
                        <ion-card id="publicacion">
                            <ion-card-header>
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-title>Hadaya Hadaya</ion-card-title>
                                    <h1></h1>
                                </ion-item>
                            </ion-card-header>
                          
                            <ion-card-content>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad omnis sequi quisquam nostrum aperiam unde nihil sed quasi? Tempore porro vero dicta incidunt facere magnam, dolor quidem? At, enim earum.
                                <img class="media" alt="Silhouette of a person's head" src="../static/images/hadaya.jpg"/>
                            </ion-card-content>
                          </ion-card>
                    </ion-col>
                    
                    <ion-col size-xs="12" size-sm="6" size-md="5">
                        
                        <ion-card id="comentario">
                            <h3 style="text-align: center;" >{{text['comments']}}</h3>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            
                          </ion-card>
                    </ion-col>

                </ion-row>
            </div>
                <ion-row>
                    <ion-col size-xs="12" size-sm="6" size-md="5" offset-sm="" offset-md="1.5">
                        
                        <ion-card id="publicacion">
                            <ion-card-header>
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    <ion-card-title>David Sanchez</ion-card-title>
                                    <h1></h1>
                                </ion-item>
                            </ion-card-header>
                          
                            <ion-card-content>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad omnis sequi quisquam nostrum aperiam unde nihil sed quasi? Tempore porro vero dicta incidunt facere magnam, dolor quidem? At, enim earum.
                                <img class="media" alt="Silhouette of a person's head" src="../static/images/david.jpg"/>
                            </ion-card-content>
                          </ion-card>
                    </ion-col>
                    <ion-col size-xs="12" size-sm="6" size-md="5">
                        
                        <ion-card id="comentario">
                            <h3 style="text-align: center;" >{{text['comments']}}</h3>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                    <img alt="Silhouette of a person's head" src="../static/images/hadaya.jpg" />
                                    </ion-avatar>
                                    <ion-card-subtitle>Hadaya Hadaya</ion-card-subtitle>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                              
                            </ion-card-content>

                            <ion-card-header id="comment">
                                <ion-item lines="none">
                                    <ion-card-subtitle slot="end">David Sanchez</ion-card-subtitle>
                                    <ion-avatar slot="end">
                                    <img alt="Silhouette of a person's head" src="../static/images/david.jpg" />
                                    </ion-avatar>
                                    
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content id="border-comment">
                                Lorem ipsum dolor sit amet consectetur.                            
                            </ion-card-content>
                            
                          </ion-card>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-content>
    </ion-app>
</body>
</html>