<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ text['signup'] }}</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
</head>
<body>
    <ion-app>
        {% import './macros/toolbar.html' as toolbar %}
        {{toolbar.toolbar(loged=False,text=text)}}
        {% import './macros/footer.html' as footer %}
        {{footer.footer(text)}}
        <ion-content>
            <ion-grid>
                <ion-row>
                    <ion-col size-xs="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>
                                    <p>{{text['signup']}}</p>
                                </ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <form id="form" action="/signup" method="post">
                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['name']}}
                                    </ion-label>
                                    <ion-input name="nameInput" id="nameInput" type="name"></ion-input>
                                    <ion-note slot="error">{{text['notempty']}}</ion-note>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['lastname']}}
                                    </ion-label>
                                    <ion-input name="lastNameInput" id="lastNameInput" type="name"></ion-input>
                                    <ion-note slot="error">{{text['notempty']}}</ion-note>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['email']}}
                                        <ion-icon name="mail-outline"></ion-icon>
                                    </ion-label>
                                    <ion-note id="emailError" slot="error">{{text['invalidemail']}}</ion-note>
                                    <ion-input name="emailInput" id="emailInput" type="email"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['password']}}
                                        <ion-icon name="key-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input name="passwordInput" id="passwordInput" type="password"></ion-input>
                                    <ion-note slot="error">{{text['passwordshort']}}</ion-note>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">
                                        {{text['confirmpassword']}}
                                        <ion-icon name="key-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input disabled="true" name="confirmPasswordInput" id="confirmPasswordInput" type="password"></ion-input>
                                    <ion-note slot="error">{{text['passwordnotmatch']}}</ion-note>
                                </ion-item>

                                <ion-radio-group value="w">
                                    <ion-item>
                                        <ion-label>{{text['women']}}</ion-label>
                                        <ion-radio name="womenRadioInput" id="womenRadioInput" value="w"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>{{text['man']}}</ion-label>
                                        <ion-radio name="manRadioInput" id="manRadioInput" value="m"></ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                                <ion-item class="datetime-item">
                                    <ion-label position="fixed">Date of birth</ion-label>
                                    <ion-item class="datetime-item">
                                        <ion-select name="day-select" id="day-select" class="date-select ion-padding" value="selected" placeholder="Day">
                                            <ion-select-option value="selected"></ion-select-option>
                                        </ion-select>
                                        <ion-select name="month-select" id="month-select" class="date-select ion-padding" value="selected" placeholder="Month">
                                            <ion-select-option value="selected"></ion-select-option>
                                        </ion-select>
                                        <ion-select name="year-select" id="year-select" class="date-select ion-padding" value="selected" placeholder="Year">
                                            <ion-select-option value="selected"></ion-select-option>
                                        </ion-select>
                                        <ion-datetime-button style="display: none;" datetime="datetime"></ion-datetime-button>                                        
                            
                                    </ion-item>
                                </ion-item>
                                <ion-item class="ion-text-center">
                                    <!-- <ion-popover> -->
                                        <ion-datetime name="datetime" id="datetime" presentation="date"
                                        locale="en-US"
                                        prefer-wheel="false"
                                        show-default-buttons="true"                                       
                                        ></ion-datetime>   
                                    <!-- </ion-popover> -->

                                </ion-item>
                                <ion-button name="signupButton" id="signupButton" type="submit" class="center-button" color="primary" disabled="false">
                                    {{text['signup']}}
                                    <ion-icon slot="start" name="log-in-outline"></ion-icon>
                                </ion-button>
                                </form>
                            </ion-card-content>
                        </ion-card>
            
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>

    </ion-app>
</body>
<script src="{{ url_for('static', filename='scripts/signup.js') }}"></script>

</html>